html{
    scroll-behavior: smooth;
}
h1 img {
    vertical-align: middle;
    margin-block-start: 10px;
    overflow: hidden;
    border-radius: 15px;
    inline-size: 100%;
    max-inline-size: 600px;
    block-size: auto;

  }

body {
    background: url("../assets/history_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
  }

  body p {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: inline-block;
    color: white;
  }

  
  
